html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


  }

  .container{
    margin: 0 auto;
    padding: 0;
    width: 768px;
    position: relative;
  }


  .header{
    display: flex;
    justify-content: space-between;
  }
.name_page{
  margin: 0;
  padding: 0;

}

#new_event{
  margin: 0;
  padding: 0;
}


.table_calendar{
  margin: 0 auto;
  padding: 0;
  width: 768px;

}
.head{
  height: 30px;
  background-color: #5f9ea0;
}


th{
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}

.point{
  max-width: 150px;
  width: 150px;
  height: 50px;
  position: relative;
}

.backGround{
background-color: #6b8e23;
}

.point button{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #fff;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #6b8e23;
}

label{
  display: block;
  margin-bottom: 30px;
  width: 400px;
  
}
.buttons{
  text-align: end;
}


.alert{
  margin: 0 auto;
padding: 10px;
  width: 768px;
  background-color: #eb905c;
  display: flex;
  justify-content: space-between;
}
.big_red_x{
  width: 40px;
  height: 40px;
  background-color: #ad0b0b;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
  border-radius: 50%;
  line-height: 1;
}
.alert_text{
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #ad0b0b;
}

.close_alert{
  display: block;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #ad0b0b;
  cursor: pointer;
}


.overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: blanchedalmond ;
  opacity: 0.7;
}

.confirm{
  opacity: 1;
  width: 300px;
  padding: 20px;
  box-sizing: content-box;
  text-align: center;
  background-color: rgb(14, 252, 14);
  border: 2px solid #000000;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 30%;
  margin: 0 auto;
  
}

.confirm button{
  width: 100px;
}

.confirm_text{
  margin: 0;
  padding: 0;
  width: 300px;
}

.displayNone{
  display: none;
}